/* General styling:  */

.App {
  text-align: center;
  font: 'sans-serif';
}

/* Styling related to nav:  */

.navbar {
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: white;
}

.nav-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
}

/* Styling related to socials: */

.socialbar{
  /* background-color: aqua; */
  padding: 1%;
  position: fixed;
  top: 0;
  right: 0;
}

.social-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icon{
  height: 6vh;
  width: 3vw;
}

#email:hover{

}

/* Styling related to profile:  */

.profile {
  background-color: #004643;
  color: #fffffe;
  padding: 5%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
}

.headshot{
  width: 40vh;
  height: 40vh;
  border-radius: 10%;
}

.headshot-container{
  grid-column: 2;
  grid-row: 2;
  justify-content: center;

}

/* .inner-headshot-container{
  grid-row: 2;
} */

.profile-text-container{
  grid-column: 1;
  grid-row: 2;
}

/* Styling related to portfolio section: */

.portfolio{
  background: #abd1c6;
  padding: 1%;
}

.project-card {
  height: 70vh;
  width: 60vh;
  background-color: #004643;
  margin: 15vh;
  color: #fffffe;
  border-radius: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.screenshot {
  height: 20vh;
  width: 30vh;
}

.all-projects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tech-icon{
  height: 8vh;
  width: 3vw;
}

.stack-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

/* Styling related to resume section:  */

.resume-div{
  padding: 2%;
  background-color: #004643;
  color: #fffffe;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resume{
  width: 60vh;
  height: 80vh;
}