/* General styling:  */

.App {
  text-align: center;
}

/* Styling related to nav:  */

.navbar {
  background-color: aqua;
  padding: 1%;
  position: fixed;
  top: 0;
  right: 0
}

.nav-button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling related to profile:  */

.profile {
  background-color: #004643;
  color: #fffffe;
  padding: 5%;
}

.headshot{
  width: 20vh;
  height: 20vh;
  border-radius: 10%;
}

/* Styling related to portfolio section: */

.portfolio{
  background: #abd1c6;
  padding: 1%;
}

.project-card {
  height: 50vh;
  width: 60vh;
  background-color: #004643;
  margin: 15vh;
  color: #fffffe
}

.screenshot {
  height: 20vh;
  width: 30vh;
}

.all-projects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stack-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Styling related to resume section:  */

.resume-div{
  padding: 2%;
  background-color: #004643;
  color: #fffffe;
}

.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resume{
  width: 60vh;
  height: 80vh;
}